version: "3.8"

services:
  n8n:
    image: n8nio/n8n:latest
    container_name: n8n
    ports:
      - "5678:5678"
    env_file:
      - .env
    volumes:
      - n8n_data_vol:/home/node/.n8n
      - ./workflows:/workflows
    restart: unless-stopped

  slide_generator:
    build:
      context: slide-generator
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    restart: unless-stopped

volumes:
  n8n_data_vol:
    driver: local
